*{
	margin: 0;
	padding: 0;
}

#wrapper {
	width: 970px;
	background-color: #234f80;
	font-family: sans-serif;
}

#logo{
	display: inline-block;
	vertical-align: top;
	margin-top: 15px;
	margin-left: 15px;
}

#settings{
	display: inline-block;
	text-align: center;
	margin-top: 15px;
	margin-left: 315px;
}

#settings p{
	color: white;
	font-size: 12px;
	font-weight: lighter;
	display: inline-block;
	margin-right: 3px;
	margin-bottom: 3px;
}

#settings a{
	font-size: 12px;
	opacity: .8;
	font-weight: lighter;
	display: inline-block;
	color: #fecd25;
	margin-right: 3px;
}

.division{
	padding-right: 4px;
	border-right: 2px solid black;
}

#search_bar{
	background-color: #42404d;
	padding: 10px 40px;
	border-radius: 10px;
	border-bottom: 2px solid black;
	border-right: 2px solid black;
}

#search_bar input{
	text-align: center;
	padding: 7px 10px;
}

#search_bar button{
	font-size: 12px;
	color: white;
	background-color: #2b5b94;
	padding: 5px 7px;
	vertical-align: middle;
	border-radius: 5px;
}

#splash{
	color: white;
	vertical-align: top;
}

#navbar{
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
}

#navbar ul{
	font-size: 20px;
	list-style-type: none;
	background-color: #3e77b2;
	display: inline-block;
	margin: 0 auto;
	padding: 15px 25px;
	border-radius: 10px;
	border-bottom: 2px solid black;
	border-right: 2px solid black;
}

#navbar li {
	display: inline;
	/*border: 1px solid black;*/

}

#navbar li a{
	color: white;
	font-weight: lighter;
	text-decoration: none;
	padding: 14px 16px 20px 25px;
}

#helpful_links{
	display: inline-block;
	margin-top: 15px;
}

#helpful_links li {
	list-style-type: square;
	text-align: center;
	list-style-position: inside;
	width: 250px;
	margin-bottom: 10px;
	margin-left: 30px;
}

#helpful_links a{
	color: white;
	font-size: 14px;
	font-weight: lighter;
}

.container{
	display: inline-block;
	vertical-align: top;
}

#information p{
	width: 570px;
	font-size: 13px;
	display: inline-block;
	text-align: center;
	margin-bottom: 15px;
	font-weight: lighter;

}

#mantra{
	display: inline-block;
	font-weight: normal;
	text-align: center;
	opacity: .8;
	margin-left: 130px;
	padding-bottom: 15px;
}

#mantra h3{
	color: #fecd25;
	font-weight: lighter;
	font-style: italic;
	margin-bottom: 10px;
}

#mantra h4{
	font-weight: normal;
}

.banner{
	background-color: white;
	text-align: center;
	border-top: 2px solid black;
}

.banner_column{
	width: 250px;
	display: inline-block;
	vertical-align: top;
	margin: 15px 20px;
	border-top: 4px solid #3e77b2;
	padding: 5px 25px;
}

.banner_column h4{
	font-weight: 500;
	margin-bottom: 5px;
}

.banner_column p{
	font-size: 12px;
}

.banner_column ul{
	list-style-type: square;
	text-align: center;
	font-size: 14px;
}

.banner_column a{
	color: #4b96fd;
	text-decoration: none;
}

.footer {
	text-align: center;
	width: 100%;
	color: #84c6ff;
	opacity: .6;
	font-size: 10px;
	padding-top: 25px;
	padding-bottom: 10px;
}

.footer li {
	display: inline-block;
	margin: 20px 40px;
	list-style: none;
}

.footer li a{
	font-size: 16px;
	color: #84c6ff;
	text-decoration: none;
}
